.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
unbreakable.config.json
unbreakable.local.json
unbreakable.empty.json
logs/
0dev.tenshi-config.json
0stg.tenshi-config.json

tenshi-config.json
.kiro